/*body*/
#mytable img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* footer */
footer {
  text-align: center;
  background-color: #353E48;
  color: #FFF;
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}



footer p {
  margin-bottom: 0;
}